.longe-bordas{
    background-color: #FFA6A9;
    margin: 0px 0px 0px 50px;
  }
  
  .afastado{
    background-color: #77C0ED;
    margin: 50px;
    display: block;
    text-align: center;
  }
  .alto{
    background-color: #C3E887;
    height: 300px;
  }
  
  .largo{
  background-color: #FFE396;
  width: 500px;
  }
  
  .bordado{
    background-color: #AF9BCC;
    border: 5px solid black;
    }
  
  .sumido{
   display: none;
  }